<% unless user_signed_in? %>
	<div class="classic-header">
		<h1>Welcome!</h1>
		<p>
			Get your
			<%= link_to("ideas", "http://bit.ly/c8kIOl" , :target => '_blank') %> 
			out there!
		</p>
		<p>
			<%= link_to "give it a try", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>



