<% unless user_signed_in? %>
	<div class="classic-header">
		<h1>Welcome to yupp, <%= link_to "Give it a try", new_user_registration_path, class: "btn btn-primary btn-medium" %></h1>
		</p>
	</div>
<% end %>